* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    width: 100%;
    height: 5vh;
    padding: 0.5rem;
    border-bottom: 1px solid #888;
}

.container {
    display: flex;
    width: 100%;
    height: 95vh;
}

.left, .right {
    height: 100%;
    overflow: auto;
}

.left {
    width: 75%;
}

.right {
    flex-grow: 1;
}

.divider {
    width: 8px;
    cursor: ew-resize;
    background: #888;
    position: relative;
}

.divider:hover {
    background: #555;
}

svg text.actor, svg text.messageText {
    cursor: pointer;
}

.graphviz {
    display: flex;
}

.graphviz svg {
    width: 100%;
    height: auto;
}
