* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left, .right {
    height: 100%;
    overflow: auto;
}

.left {
    width: 50%;
}

.right {
    flex-grow: 1;
}

.divider {
    width: 8px;
    cursor: ew-resize;
    background: #888;
    position: relative;
}

.divider:hover {
    background: #555;
}
