name: Deploy to GitHub Pages (Versioned)

on:
  push:
    branches:
      - main
    tags:
      - '*'  # Runs when a tag is pushed

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensure we can retrieve tags

      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '12'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@11.0
        with:
          cli: 1.11.4.1474              # Clojure CLI based on tools.deps
          bb:  1.12.196                 # Babashka
          #clj-kondo: 2022.05.31        # Clj-kondo

      - name: Get version identifier
        id: version
        run: |
          TAG=$(git describe --tags --always --dirty)
          echo "tag=${TAG}" >> $GITHUB_ENV
          echo "Tag resolved: ${TAG}"

      - name: Clojure Tests
        run: |
          clojure -M:examples:cljs-diagram:test-cli          

      - name: Shadow CLJS Release Build
        run: |
          npm install
          clojure -M:cljs-diagram:build release diagram          

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
            ~/node_modules
          # List all files containing dependencies
          key: cljdeps-${{ hashFiles('deps.edn', 'package.json', 'bb.edn') }}
          restore-keys: cljdeps-

      - name: Deploy static artifacts
        run: |
          mkdir -p dist/${{ env.tag }}
          bb generate
          cp -v target/README.md.html dist/index.html
          cp -rv public/diagram-js/main.js* dist/${{ env.tag }}

      - name: Deploy js artifacts to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist
