name: Deploy Diagram Artifact at Github release

on:
  push:
    tags:
      - '*'  # Runs when a tag is pushed

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensure we can retrieve tags

      - name: Prepare java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '12'

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
            ~/node_modules
          # List all files containing dependencies
          key: cljdeps-release-${{ hashFiles('deps.edn', 'package.json', 'bb.edn') }}
          restore-keys: cljdeps-release-

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@11.0
        with:
          cli: 1.11.4.1474              # Clojure CLI based on tools.deps
          bb: 1.12.196                 # Babashka
          #clj-kondo: 2022.05.31        # Clj-kondo

      - name: Get version identifier
        id: version
        run: |
          TAG=$(git describe --tags --always --dirty)
          echo "tag=${TAG}" >> $GITHUB_ENV
          echo "Tag resolved: ${TAG}"

      - name: Clojure Tests incl examples
        run: |
          clojure -M:examples:cljs-diagram:test-cli          

      - name: Shadow CLJS Release Build diagram SPA main.js w/ source map
        run: |
          npm install
          clojure -M:cljs-diagram:build release diagram
          mkdir -p app
          cp -v public/diagram-js/main.js app/main.js
          cp -v public/diagram-js/main.js.map app/main.js.map

      - name: Commit generated JS file to artifacts branch
        run: |
          git fetch origin artifacts || git checkout --orphan artifacts
          git checkout artifacts
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add app/main.js app/main.js.map
          git commit -m "Add generated artifacts for ${{ github.ref_name }}" || echo "No changes to commit"
          git push origin HEAD:artifacts
